
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subscription Payment</title>
</head>
<body>
    <div class="container">
        <h1>Manage Your Subscription</h1>

        <!-- Subscription Form -->
        <form method="post" action="{% url 'dynamic' %}">
            {% csrf_token %}

            <!-- Subscription Form Fields -->
            <div id="subscription-form">
                <h2>Subscription Details</h2>
                {{ form.as_p }}

                <!-- Hidden Field for Subscription ID -->
                
                <form action="{% url 'subscription-payment' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="subscription_id" value="{{ subscription.id }}" />
                    </div>
                   {{subscription.id}}
                
                    <button type="submit" class="btn-pay">Pay Now</button>
                </form>
            </div>
        </form>

        <!-- Back to Home Link -->
        <div class="back-link">
            <a href="{% url 'home' %}">Back to home</a>
        </div>
    </div>
</body>
</html>

