{% extends 'users/staff_dashboard.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        {% for asana in trainer_asanas %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4"> <!-- Responsive columns: 4 on large screens, 6 on medium, 12 on small -->
            <div class="card shadow h-100 py-2" style="border-bottom: 4px solid #553CDF;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <h5 class="font-weight-bold text-primary mb-1">
                                {{ asana.course_name }}
                            </h5>
                            <div class="mb-0 font-weight-bold text-gray-800 custom-bullets">
                                <ul>
                                    {% for asana_detail in asana.asanas_by_trainer.all %}
                                    <li>
                                        <a href="{% url 'user-view-posture' asana_id=asana_detail.id slug=tenant.slug %}">
                                            {{ asana_detail.name }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- Removed the arrow section -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
    